$color-primary:rgb(101, 70, 240);
$color-primary-light:rgb(129, 107, 224);
$color-primary-dark:rgb(80, 6, 109);
$contrast-color: #ee8a3a;
$text-color-grey: #777777;
$color-white: #fff;
$color-black: #000000;