.fancy-gallery{
    position:relative;

    &__photo{
        width: 55%;
        height: 30rem;
        box-shadow: $box-shadow-1;
        border-radius: .2rem;
        position: absolute;
        outline-offset: 2rem;
        transition: all .2s;

        &--one{
            left: 0;
            top: -2rem;
        }
        &--two{
            right: 0;
            top: 2rem;
        }
        &--three{
            left: 20%;
            top: 10rem;
        }

        &:hover{
            outline: 1.5rem solid $color-primary-light;
            transform: scale(1.1) translateY(-.5rem  );
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }

    }
    &:hover &__photo:not(:hover){
        transform:scale(0.9)
    }

}