.fancy-gallery{
    position:relative;
    
    @include responsive(portrait-tab){
       margin-top: 5rem;
    }

    &__photo{
        width: 55%;
        height: 30rem;
        box-shadow: $box-shadow-1;
        border-radius: .2rem;
        position: absolute;
        outline-offset: 2rem;
        transition: all .2s;

        @include responsive(portrait-tab){
            float: left;
            position: relative;
            width: 33.33333%;
            height: 20rem;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);

        }

        &--one{
            left: 0;
            top: -2rem;
            z-index: 10;

            @include responsive(portrait-tab){
                top:1rem;
                transform: scale(1.2);
            }
        }
        &--two{
            right: 0;
            top: 2rem;
            z-index: 20;

            @include responsive(portrait-tab){
               top: -1rem;
               transform: scale(1.3);
               z-index: 50;
            }
        }
        &--three{
            left: 20%;
            top: 10rem;
            z-index: 30;

            @include responsive(portrait-tab){
                top: 1rem;
                left:0;
                transform: scale(1.2)  
            }
        }

        &:hover{
            outline: 1.5rem solid $color-primary-light;
            transform: scale(1.1) translateY(-.5rem  );
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 40;
        }

    }
    &:hover &__photo:not(:hover){
        transform:scale(0.9)
    }

}