*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    //This defines what 1rem should be..
    font-size: 62.55%;
    max-width: 100vw;
}
body{
    box-sizing: border-box;
}
