.intro-section{
    background-color: $background-color-grey;
    padding: $section-padding-1 ;
    margin-top: $negative-section-margin;
}

.features-section{
    padding:20rem 0;
    margin-top: $negative-section-margin;
    background: linear-gradient(to right bottom, 
    rgba($color-primary, 0.8),rgba($color-primary-dark, 0.8)),
    url("../media/images/city-by-the-sea.jpg");
    background-size: cover;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.tours-section{
    background-color: $background-color-grey;
    padding:$section-padding-1;
    padding-bottom: 5rem;
    margin-top: $negative-section-margin;

}

.stories-section{
    width: 100%;
    padding: $section-padding-2;
    position:relative;
}

.booking-section{
    padding: $section-padding-2;
    background: linear-gradient(to right bottom, 
    rgba($color-primary, 0.8),rgba($color-primary-dark, 0.8));
   

    .booking{
        background-image:linear-gradient(105deg, rgba($color-white, .9) 0%,
                                                 rgba($color-white, .9) 50%,
                                                 transparent 50%), 
                        url(../media/images/tourists.jpg);
        background-position: top;                
        background-size: 100%;
        border-radius: 3px;
        box-shadow: $box-shadow-1;
        height: 50rem;

        &__form{
            width: 50%;
            padding: 6rem;
        }

    }
}
