.header{
    height: 90vh;
    background: linear-gradient(to right bottom, 
                rgba($color-primary, 0.8),rgba($color-primary-dark, 0.8)),
                url("../media/images/hero-image.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);

    &__logo-box{
        position: absolute;
        top:-2rem;
        left: 3rem; 
    }
    &__logo{
        height: 20rem;
        width: 20rem; 
    }
    &__heading-box{
        position: absolute;
        top: 40%;
        left:50%;
        transform: translate(-50%, -50%); 
    }
}